{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Alex Malek Portfolio</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <!-- Favicons -->
      <link href="{% static 'img/favicon.png' %}" rel="icon">
      <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!-- Vendor CSS Files -->
      <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
      <!-- Template Main CSS File -->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <!-- =======================================================
         * Template Name: iPortfolio - v3.3.0
         * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
         * Author: BootstrapMade.com
         * License: https://bootstrapmade.com/license/
         ======================================================== -->
   </head>
   
   <body>
      <!-- ======= Mobile nav toggle button ======= -->
      <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
      <!-- ======= Header ======= -->
      <header id="header">
         <div class="d-flex flex-column">
            <div class="profile">
               <img src="{% static 'img/portfolio/headshot.jpg' %}" alt="" class="img-fluid rounded-circle">
               <h1 class="text-light"><a href="">Alex Malek</a></h1>
               <div class="social-links mt-3 text-center">
                  <a target="_blank" href="https://www.linkedin.com/in/alex-malek/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  <a target="_blank" href="https://github.com/mentana/mentana_development.git" class="github"><i class="bx bxl-github"></i></a>
                  <a target="_blank" href="https://www.facebook.com/mentanadev" class="facebook"><i class="bx bxl-facebook"></i></a>
               </div>
            </div>
            <nav id="navbar" class="nav-menu navbar">
               <ul>
                  <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                  <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                  <li><a href="#facts" class="nav-link scrollto"><i class="bx bx-cloud-download"></i> <span>Downloads</span></a></li>
                  <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                  <li><a href="#services" class="nav-link scrollto"><i class="bx bx-bar-chart"></i> <span>Skills</span></a></li>
                  <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
               </ul>
            </nav>
            <!-- .nav-menu -->
         </div>
      </header>
      <!-- End Header -->
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
         <div class="hero-container" data-aos="fade-in">
            <h1>Alex Malek</h1>
            <p>I'm skilled in <BR /><span class="typed" data-typed-items="Economics, Finance, Business, Computer Science, Entreprenurship"></span></p>
         </div>
      </section>
      <!-- End Hero -->
      <main id="main">
         <!-- ======= About Section ======= -->
         <section id="about" class="about">
            <div class="container">
               <div class="section-title">
                  <h2>My Journey</h2>
                  <p>I started purchasing stocks and teaching myself how to build websites while studying business in college. Upon graduation, I held a summer internship at Ford Motor Company, successfully learned to day trade (profitably), and developed responsive, data-driven websites for small businesses using the Python web development framework called Django.
                  </p><br>
                  <p>
                  My interests in economics and finance were harnessed during my studies at McMaster University. I spent much of my time embroiled in the works of renowned economists Thomas Piketty, and Erik Brynjolfsson, which provoked entrepreneurial ideas in the areas of computer automation using digital robots at the user interface level instead of the traditional application level. I created a startup with two Co-Founders I met on Linkedin. We concentrated on the distribution of robotic process automation systems for businesses searching to automate repetitive processes.
                  </p><br>
                  <p>
                  I worked as an intern Financial Analyst at Jaguar Land Rover where I was tasked with compiling an important document many Senior Associates rejected. I saw this as an opportunity to prove I was ready and willing to make a real effort for the team. I created a P&L assessment using financial models and information obtained from all areas of the organization. I had to speak with representatives from every department to obtain hidden information, I had to teach myself corporate applications on the fly, and I consulted with the GM regularly to provide updates on progress. Altogether, I created an outstanding document that surpassed all expectations and rewarded our organization with additional subsidies.
                  </p><br>
                  <p>
                     Lastly, I operated a home renovation business until I graduated from university. I am currently analyzing stock prices and macroeconomic trends using statistical packages in Python until I find an 
                     opportunity to work in finance.
                  </p>
               </div>
               <div class="row">
                  <div class="col-lg-4" data-aos="fade-right">
                     <img src="{% static 'img/portfolio/blank-page.jpg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                     <h3>Finance Professional &amp; Computer Programmer</h3>
                     <p class="fst-italic">
                        Areas of Interest: Finance, Stocks, Marketing, Entreprenurship, Economics, Business, Programming.
                     </p>
                     <div class="row">
                        <div class="col-lg-6">
                           <ul>
                              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>(289) 925-4674</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Toronto, ON</span></li>
                           </ul>
                        </div>
                        <div class="col-lg-6">
                           <ul>
                              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>alexmalek.csm@gmail.com</span></li>
                              <li><i class="bi bi-chevron-right"></i> <strong>Work Status:</strong> <span>Open to Opportunities</span></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End About Section -->
         <!-- ======= Facts Section ======= -->
         <section id="facts" class="facts" style="background-color: #f5f8fd;"> 
            <div class="container">
            <div class="section-title">
               <h2>Downloads</h2>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <div class="card mb-3 box-shadow">
                     <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'img/portfolio/resume.jpg' %}" data-holder-rendered="true">
                     <div class="card-body">
                        <p class="card-text">Résumé</p>
                        <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                               <a href="https://drive.google.com/uc?id=1K8nz6bA6JifXCcEb5xmnV5AEiu4S68lT&export=download">
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">Download</button>
                                </a>
                               <a href="https://drive.google.com/file/d/1K8nz6bA6JifXCcEb5xmnV5AEiu4S68lT/view?usp=sharing" target="_blank">
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">View</button>
                                </a>
                           </div>
                           <!--<small class="text-muted">9 mins</small>-->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="card mb-4 box-shadow">
                     <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'img/portfolio/cost-analysis.jpg' %}" data-holder-rendered="true">
                     <div class="card-body">
                        <p class="card-text">Cost Analysis</p>
                        <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                               <a href="https://drive.google.com/uc?id=1cUJcHZ6d_xnyoziIsjx64LCDzoja9fxt&export=download">
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">Download</button>
                                </a>
                               <a href="https://drive.google.com/file/d/1cUJcHZ6d_xnyoziIsjx64LCDzoja9fxt/view?usp=sharing" target="_blank">
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">View</button>
                                </a>
                           </div>
                           <!--<small class="text-muted">9 mins</small>-->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="card mb-4 box-shadow">
                     <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'img/portfolio/mcmaster.jpg' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                     <div class="card-body">
                        <p class="card-text">McMaster University Transcript</p>
                        <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                               <a href="https://drive.google.com/uc?id=1odTLTNV4Hf9I__4SyVdxj7bwjk_aA8P-&export=download" >
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">Download</button>
                                </a>
                               <a href="https://drive.google.com/file/d/1odTLTNV4Hf9I__4SyVdxj7bwjk_aA8P-/view?usp=sharing" target="_blank">
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">View</button>
                                </a>
                        </div>
                           <!--<small class="text-muted">9 mins</small>-->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="card mb-4 box-shadow">
                     <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'img/portfolio/mohawk.jpg' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                     <div class="card-body">
                        <p class="card-text">Mohawk College Transcript</p>
                        <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                                 <a href="https://drive.google.com/uc?id=11qWWU9ZDoPckD6T4XlHEjqWO-YiIhl8P&export=download" >
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">Download</button>
                                 </a>
                                 <a href="https://drive.google.com/file/d/11qWWU9ZDoPckD6T4XlHEjqWO-YiIhl8P/view?usp=sharing" target="_blank">
                                    <button type="button" class="rounded-0 btn btn-sm btn-primary">View</button>
                                 </a>
                        </div>
                           <!--<small class="text-muted">9 mins</small>-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Facts Section -->
         <!-- ======= Skills Section ======= 
         <section id="skills" class="skills section-bg" style="background-color: #f5f8fd;">
            <div class="container">
               <div class="section-title">
                  <h2>Skills</h2>
                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
               </div>
               <div class="row skills-content">

                  <div class="col-lg-6" data-aos="fade-up">
                     <div class="progress">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">JavaScript <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                     <div class="progress">
                        <span class="skill">PHP <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">WordPress/CMS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                     <div class="progress">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                           <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
          End Skills Section -->
         <!-- ======= Resume Section ======= -->
         <section id="resume" class="resume">
            <div class="container">
               <div class="section-title">
                  <h2>Resume</h2>
               </div>
               <div class="row">
                  <div class="col-lg-12" data-aos="fade-up">
                     <h3 class="resume-title">Summary</h3>
                     <div class="resume-item pb-0">
                        <h4>Alex Malek</h4>
                        <p><em>Finance professional newly graduated with two years of experience in residential construction, financial analysis, and computer programming. Notable successes include:</em></p>
                        <ul>
                           <li>Increase in subsidies for a specific business segment by declaring objectives, compiling data from multiple sources, and generating financial models to communicate our P&L positions.</li>
                           <li>Generated profits for entrepreneurial endeavours.</li>
                           <li>Used back-end computer systems technology to resolve productivity issues with a team of high-level executive Co-Founders.</li>
                        </ul>
                     </div>
                     <h3 class="resume-title">Education</h3>
                     <div class="resume-item">
                        <h4>Bachelor of Arts, Honours Economics</h4>
                        <p><em>McMaster University, Hamilton, ON</em></p>
                        <h5>2017 - 2021</h5>
                        <p>Activities: The Forge McMaster</p>
                        <ul>
                            <li>Contributed to development of operations focused on social activities.</li>
                            <li>Volunteered with groups and organizations, including marketers and investors, to help with investor summits.</li>
                            <li>Supported several instructors with planning and organization of events.</li>
                        </ul>
                     </div>
                     <div class="resume-item">
                        <h4>Diploma, Business</h4>
                        <p><em>Mohawk College, Hamilton, ON</em></p>
                        <h5>2015 - 2017</h5>
                     </div>
                     <h3 class="resume-title">Licenses & Certifications</h3>
                     <div class="resume-item">
                        <h4>Canadian Securities Course (CSC)</h4>
                        <h5>2021</h5>
                     </div>
                     <div class="resume-item">
                        <h4>Conduct and Practices Handbook (CPH)</h4>
                        <h5>2021</h5>
                     </div>
                     <div class="resume-item">
                        <h4>Python Essential Training</h4>
                        <h5>2017</h5>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                     <h3 class="resume-title">Professional Experience</h3>
                     <div class="resume-item">
                        <h4>CEO - Founder</h4>
                        <p><em>Mentana Development</em></p>
                        <p><em>Greater Toronto Area, ON </em></p>
                        <h5>Jan 2018 - Aug 2020</h5>
                        <ul>
                           <li>Distributed home renovation services</li>
                           <li>Researched demographics of local homeowners to identify target consumers.</li>
                           <li>Performed accounting functions using QuickBooks Enterprise Accountant by tracking revenue and expenses for ongoing properties.</li>
                           <li>Coordinated bid and qualifications processes to select architects, professional consultants and contractors for projects.</li>
                           <li>Used Microsoft Office tools [Excel, Word, PowerPoint, Project, Visio], QuickBooks Enterprise Accountant, to produce reports on milestones, project delivery and completion dates.</li>
                           <li>Used Adobe [Photoshop, Illustrator, Premier, Acrobat], Facebook Ads, Google Ads, to create and execute appealing marketing campaigns.</li>
                           <li>Improved process efficiency and workflow by implementing productivity initiatives and proactively identifying and resolving problems.</li>
                           <li>Performed regular job site observations to provide direction for general contractor personnel and subcontractor laborers.</li>
                           <li>Developed and initiated projects, managed costs, and monitored performance.</li>
                           <li>Updated operational methods, oversaw accounting procedures, tracked information and compiled data to improve efficiency.</li>
                           <li>Monitored subcontractor operations and applied effective time, resource and money management strategies to delivery under-budget project completion.</li>
                           <li>Conducted critical pre-installation conferences with general contractors, subcontractors, consultants and manufacturer's representatives.</li>
                           <li>Monitored supply levels and identified cost-effective materials to reduce project expenses.</li>
                           <li>Contributed to construction management process, including home remodeling and landscaping projects.</li>
                           <li>Determined project schedule, including sequencing all construction activities for optimal efficiency.</li>
                        </ul>
                     </div>
                     <div class="resume-item">
                        <h4>Financial Analyst</h4>
                        <p><em>Jaguar Land Rover</em></p>
                        <p><em>Oakville, ON</em></p>
                        <h5>May 2019 - Aug 2019</h5>
                        <ul>
                           <li>Worked independently and with senior staff to ensure timely and accurate client reports delivery across all lines of business.</li>
                           <li>Developed P&L reports, analyzed financial results and variances, and communicated key findings to senior leadership.</li>
                           <li>Developed and actualized customer service initiatives to decrease wait times.</li>
                           <li>Maintained customer satisfaction with forward-thinking strategies focused on addressing customer needs and resolving concerns.</li>
                           <li>Applied experienced data collection and analysis skills used to develop detailed spreadsheets to identify trends and create revenue, profitability, and expense reports.</li>
                           <li>Used sales history, inventory levels and other metrics to perform predictive analytics to forecast future sales.</li>
                           <li>Applied advanced skills in MS Office applications such as Excel, Word, PowerPoint, and Outlook.</li>
                           <li>Used critical thinking skills to tackle challenging problems in an innovative way.</li>
                           <li>Increased corporate subsidies by researching and implementing cost-saving initiatives and creating fresh new approaches to long-standing problems.</li>
                           <li>Improved financial status by analyzing results, monitoring variances, and recommending actions to management.</li>
                           <li>Sustained excellent organizational, prioritization, and multi-tasking skills.</li>
                        </ul>
                     </div>
                     <div class="resume-item">
                        <h4>Co-Founder</h4>
                        <p><em>Strider Automation</em></p>
                        <p><em>Toronto, ON</em></p>
                        <h5>May 2018 - Aug 2018</h5>
                        <ul>
                           <li>Co-Founder to a robotic process automation solution organization.</li>
                           <li>Participated in high-level hiring decisions for key leadership positions, conducted senior hire interviews and nominated new board members.</li>
                           <li>Conducted target market research to scope out industry competition and identify advantageous trends.</li>
                           <li>Managed key accounts, including developing sales presentations and promotion initiatives to drive product sales and increase brand awareness.</li>
                           <li>Studied market trends to determine optimal pricing of goods and services and to capitalize on emerging opportunities.</li>
                           <li>Aligned operations with client goals by deploying RPA systems using UiPath and Python back-end development.</li>
                           <li>Shaped solutions and approaches by leveraging trends in customer marketplaces and industries.</li>
                           <li>Identified process inefficiencies through gap analysis and outlined sensible solutions.</li>
                           <li>Evaluated business requirements, leveraging information to forecast costs relating to hardware, software and consulting.</li>
                           <li>Assessed impact of current business processes on users and stakeholders and evaluated potential areas for improvement.</li>
                           <li>Reached out to potential customers via telephone, email and in-person inquiries.</li>
                           <li>Planned marketing initiatives and leveraged referral network to promote business development.</li>
                        </ul>
                     </div>
                     <div class="resume-item">
                        <h4>Production Associate</h4>
                        <p><em>Ford Motor Company</em></p>
                        <p><em>Oakville, ON</em></p>
                        <h5>May 2017 - Aug 2017</h5>
                        <ul>
                           <li>Trained and directed a team of 3 to build schematics relating to radiator pre-assemblies for Ford Flex models.</li>
                           <li>Inspected final products to assess compliance with quality standards and established tolerances.</li>
                           <li>Supported current production needs by moving items between equipment, conveyors, and staging areas.</li>
                           <li>Graded and packaged finished products, transporting items for additional processing, storage, or shipment off-site.</li>
                           <li>Supported machine operators in setup and operation of production equipment resulting in efficient runs.</li>
                           <li>Compared project goals and user experiences and recommended revisions to bring entities into alignment.</li>
                           <li>Assisted development leads in definition of process flows, relative task priorities and business value measurement parameters.</li>
                           <li>Delivered troubleshooting assistance to Engineers to bring machines back to full functionality.</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            </div>
         </section>
         <!-- End Resume Section -->
         <!-- ======= Portfolio Section =======
         <section id="portfolio" class="portfolio section-bg">
            <div class="container">
               <div class="section-title">
                  <h2>Technologies</h2>
                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
               </div>
               <div class="row" data-aos="fade-up">
                  <div class="col-lg-12 d-flex justify-content-center">
                     <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Adobe</li>
                        <li data-filter=".filter-card">Office</li>
                        <li data-filter=".filter-web">Programming</li>
                     </ul>
                  </div>
               </div>
               <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/adobe1.svg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                     <div class="portfolio-wrap">
                        <img src="{% static 'img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                           <a href="{% static 'img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                           <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         End Portfolio Section -->
         <!-- ======= Services Section ======= -->
         <section id="services" class="services" style="background-color: #f5f8fd;">
            <div class="container">
               <div class="section-title">
                  <h2>Skills</h2>
                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                     <div class="icon"><i class="bi bi-briefcase"></i></div>
                     <h4 class="title"><a href="">industry Knowledge</a></h4>
                     <p class="description">
                        <span class="badge badge-pill badge-dark bg-secondary" >Research</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Project Management</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Finance</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Statistics</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Econometrics</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Machine Learning</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Sales</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Investments</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Financial Analysis</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Social Media</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Financial Reporting</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Financial Planning</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Report Writing</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Operations Research</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Data Analysis</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Technical Analysis</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Event Planning</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Equities</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Analytical Skills</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Administration</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Entrepreneurship</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Marketing</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Economics</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Mutual Funds</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Marketing Strategy</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Strategy</span>
                     </p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                     <div class="icon"><i class="bi bi-hdd"></i></div>
                     <h4 class="title"><a href="">Tools & Technologies</a></h4>
                     <p class="description">
                        <span class="badge badge-pill badge-dark bg-secondary" >SQL</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >PowerPoint</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Word</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Excel</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Viso</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Outlook</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >VBA</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >R</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Python</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >QuickBooks Enterprise Accountant</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Illustrator</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Photoshop</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Premier</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >R</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Python</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >JavaScript</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >PostgreSQL</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >MySQL</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >SQL</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >CSS</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >HTML5</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Bootstrap</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Django</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Google Cloud</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Amazon Web Services</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >UiPath</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >PowerShell</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Windows Server </span>
                        <span class="badge badge-pill badge-dark bg-secondary" >MATLAB</span>
                     </p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                     <div class="icon"><i class="bi bi-mask"></i></div>
                     <h4 class="title"><a href="">Interpersonal Skills</a></h4>
                     <p class="description">
                        <span class="badge badge-pill badge-dark bg-secondary" >Time Management</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Management</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Teamwork</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Customer Service</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Public Speaking</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Team Leadership</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Negotiation</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Communication</span>
                        <span class="badge badge-pill badge-dark bg-secondary" >Decision-Making</span>
                     </p>
                  </div>
                  <!--<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                     <div class="icon"><i class="bi bi-binoculars"></i></div>
                     <h4 class="title"><a href="">Other Skills</a></h4>
                     <p class="description"></p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                     <div class="icon"><i class="bi bi-brightness-high"></i></div>
                     <h4 class="title"><a href="">Nemo Enim</a></h4>
                     <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                  </div>
                  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                     <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                     <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                     <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                  </div>-->
               </div>
            </div>
         </section>
         <!-- End Services Section -->
         <!-- ======= Contact Section ======= -->
         <section id="contact" class="contact">
            <div class="container">
               <div class="section-title">
                  <h2>Contact</h2>
                  <p>Willing to relocate if the position deems necessary.</p>
               </div>
               <div class="row" data-aos="fade-in">
                  <div class="col-lg-5 d-flex align-items-stretch">
                     <div class="info">
                        <div class="address">
                           <i class="bi bi-geo-alt"></i>
                           <h4>Location:</h4>
                           <p>57 Charles St W, Toronto, ON</p>
                        </div>
                        <div class="email">
                           <i class="bi bi-envelope"></i>
                           <h4>Email:</h4>
                           <p>alexmalek.csm@gmail.com</p>
                        </div>
                        <div class="phone">
                           <i class="bi bi-phone"></i>
                           <h4>Call:</h4>
                           <p>(289) 925-4674</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.062494338477!2d-79.3916336845018!3d43.66767007912073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34b03be5d011%3A0x80d0c6916de4568a!2s57%20Charles%20St%20W%2C%20Toronto%2C%20ON%20M5S%202X1!5e0!3m2!1sen!2sca!4v1624127590903!5m2!1sen!2sca" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Contact Section -->
      </main>
      <!-- End #main -->
      <!-- ======= Footer ======= -->
      <footer id="footer">
      </footer>
      <!-- End  Footer -->
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      <!-- Vendor JS Files -->
      <script src="{% static 'vendor/aos/aos.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
      <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
      <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
      <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
      <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
      <!-- Template Main JS File -->
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>